/* MENU PRINCIPAL */
* {
    margin: 0;
    box-sizing: border-box;
    font-family:"Times New Roman";
}

.redesSociales{
    position:absolute;
    height: 32px;
    width:32px;
}

.redesSociales img{
    -webkit-box-shadow: 0px 0px 2px 2px white;
    border-radius: 10px; 
}

#logoFace{
    top: 25px;
    right: 70px;
    
}

#logoInsta{
    top: 25px;
    right: 120px;
    
}

#logoWhatsapp{
    top: 25px;
    right: 19px;
    
}

.header {
    background-color: #e93578;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
   
}

.nav {
    background-color: #e93578;
    position: fixed;
    top: 10%;
    left: 0%;
    height: 10%;
    width: 100%;
    z-index: 1;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin: 0 100px;
    line-height: 12vh;
}

.nav-menu {
    display:flex;
    margin:auto;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 25px;
    line-height: 12vh;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-link:hover {
    color: black;
    text-decoration: none;
}
/*INFORMACION*/
.section-informacion{
    color:black;
    font-size: 30px;
    margin: 0 15%;
    top: 70%;
    height: 40%;
    width: 70%;
    text-align: center;
}


/*CARRUSEL*/
.section-imagenesIndex {
    width: 50%;
    margin-top: 12%;
    margin-left: 23%;
    overflow: hidden;
    border-radius:5%;
    -webkit-box-shadow: 0px 0px 10px 10px #ff99ff;
}

.section-imagenesIndex ul {
    width: 500%;
    display: flex;
    padding: 0;
    animation: cambio 30s infinite;
    -webkit-box-shadow: 0px 0px 10px 10px #ff99ff;
}

.section-imagenesIndex li {
    list-style: none;
    width: 100%;
}

.section-imagenesIndex img {
    width: 100%;
    height: 100%;
}

.section-imagenesIndex:hover{
    filter: saturate(130%);
}

@Keyframes cambio{
    0%{
        margin-left:0;
    }
    20%{
        margin-left:0;
    }

    20%{
        margin-left:-100%;
    }
    40%{
        margin-left:-100%;
    }

    40%{
        margin-left:-200%;
    }
    50%{
        margin-left:-200%;
    }

    50%{
        margin-left:-300%;
    }
    80%{
        margin-left:-300%;
    }

    80%{
        margin-left:-400%;
    }
    100%{
        margin-left:-400%;
    }
}


#barraLateral {
    position: absolute;
    top: 20%;
    left: 0;
    height: 81%;
    width: 20%;
    padding: 15px;
}

#barraLateral1 {
    position: absolute;
    top: 20%;
    right: 0;
    height: 81%;
    width: 20%;
    padding: 15px;
    display: block;
}

#barraLateral1 {
    text-align: center;
}

#contenidoNos {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    height: 81%;
    overflow: auto;
    padding: 10px;
}