<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosGaleria.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />
        
        <section id="Galeria">
            <h2>Artículos en Descuento</h2>
            <br>
            <ul>
                <li><img src="imgPromociones/HTB1k1PKSpXXXXczXpXXq6xXFXXXe.jpg" alt="" width="300" height="300"/></li>
                <li><img src="imgPromociones/81Kac52SJwL._SY355_.jpg" alt="" width="300" height="300"/></li>
                <li><img src="imgPromociones/5dfdbc54aca3a5003602a720-large.jpg" alt="" width="300" height="300"/></li>
                
            </ul>
            <br>
            <br>
            <h2>Artículos Nuevos</h2>
            <br>
            <ul>
                <li><img src="imgPromociones/COLORTECH_PERMANENTE.jpg" alt="" width="300" height="300" /></li>
                <li><img src="imgPromociones/Iluminador-de-mechas-color-tech-1.jpg" alt="" width="300" height="300"/></li>
                <li><img src="imgPromociones/tinte-fantasia-color-tech-90-g-magenta-semi-permanente.jpg" alt="" width="300" height="300"/></li>
            </ul>
        </section>
        
    </body>
</html>
