<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Glamour</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />

        <section class="section-imagenesIndex">
            <ul>

                <li><img src="ImgIndex/2.jpg" alt="" ></li>

                <li><img src="ImgIndex/4504-Pasos-para-abrir-un-salón-de-belleza.jpg" alt=""/></li>

                <li><img src="ImgIndex/POS-para-salones-de-belleza.jpg" alt="" /></li>

                <li><img src="ImgIndex/know_your_clients.png" alt="" /></li>

                <li><img src="ImgIndex/mantenerse-seguro-en-salones-belleza.jpeg" alt=""/></li>
            </ul>
        </section>
        <br>
        <br>
        <br>

        <section class="section-informacion">
            <div>
                <p >Glamour te brinda un servicio altamente calificado con un espíritu jovial e innovador que nos caracteriza. Somos un referente de la moda en tendencias del sector de  peluquería y estética donde lucirás un cabello recuperado y vigoroso trabajado a base de técnicas vanguardistas y tratamientos exclusivos. Por ello, te traemos también los diseños para tus uñas 2019 más elegantes que están en tendencia esta temporada. Dale un toque especial a tu manicure con finas líneas y puntos y elige el modelo que más te guste para que lo uses a diario o para una ocasión especial.</p>
            </div>
        </section>
        <br>
        <br>
        <br>

    </body>
</html>
