<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">

        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosNovedades.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />
        
        <section id="Novedades">
            <h2>Colores de temporada</h2>
            <br>
            <ul>
                <li id="Novedad1"> <img src="imgNovedades/ten1.jpg" width="400" height="300" alt=""/></li>
                <li id="Novedad2"><img src="imgNovedades/ten5.jpg" width="400" height="300" alt=""/></li>
                <li id="Novedad3"><img src="imgNovedades/ten4.jpg" width="400" height="300" alt=""/></li>
            </ul>
            <br><br>
            <h2>Estilo original</h2>
            <br>
            <ul>
                <li id="novedad1">
                    <img src="imgNovedades/ori.jpg" width="400" height="300" alt=""/></li>
                <li id="novedad2">
                    <img src="https://media.glamour.mx/photos/6190632fa6e030d6480f740c/master/w_1600%2Cc_limit/241386.jpg" width="400" height="300" alt=""/></li>
                <li id="novedad3">
                    <img src="imgNovedades/ori3.jpg" width="400" height="300" alt=""/></li>

            </ul>
            <br><br>
            <h2>Keratina y bótox</h2>
            <br>
            <ul>
                <li id="novedad1">
                    <img src="imgNovedades/kera.gif" width="400" height="300" alt=""/></li>
                <li id="novedad2">
                    <img src="imgNovedades/kera2.png" width="400" height="300" alt=""/></li>
                <li id="novedad3">
                    <img src="imgNovedades/kera3.jpg" width="400" height="300" alt=""/></li>

            </ul>

        </section>
        <br>
        <br>
        <br>
    </body>
</html>
