<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosPromo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />

        <section id="Promociones">
            <h2>Promociones válidas del 01 de Julio hasta el 31 de Julio</h2>
            <br>
            <ul>
                <li><img src="imgPromociones/promo1.png" width="400" height="300" alt=""/></li>
                <li><img src="imgPromociones/promo2.jpg" width="400" height="300" alt=""/></li>
                <li><img src="imgPromociones/promo3.jpg" width="400" height="300" alt=""/></li>
            </ul>
        </section>
    </body>
</html>
