<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosPromo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <a th:href="@{/}" class="logo nav-link" >Glamour</a>  

            <div id="logoFace" class="redesSociales"><img src="ImgIndex/facebook.png" alt=""/></div>
            <div id="logoInsta" class="redesSociales"><img src="ImgIndex/instagram.png" alt=""/></div>
            <div id="logoWhatsapp" class="redesSociales"><img src="ImgIndex/whatsapp(2)_1.png" alt=""/></div>

            <nav class="nav">
                <ul class="nav-menu">
                    <!-- comment  <a th:href="@{/modificarCliente/} + ${item.idCliente}">Modificar</a>-->
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Servicios}">SERVICIOS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Novedades}">NOVEDADES</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Promociones}">PROMOCIONES</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Galeria}">GALERÍA</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Nosotros}">NOSOTROS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Contacto}">CONTACTO</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Registrarse}">REGISTRARSE</a></li>
                </ul>
            </nav>
        </header>

        <section id="Promociones">
            <h2>Promociones válidas del 01 de Julio hasta el 31 de Julio</h2>
            <br>
            <ul>
                <li><img src="imgPromociones/promo1.png" width="400" height="300" alt=""/></li>
                <li><img src="imgPromociones/promo2.jpg" width="400" height="300" alt=""/></li>
                <li><img src="imgPromociones/promo3.jpg" width="400" height="300" alt=""/></li>
            </ul>
        </section>
    </body>
</html>
