<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosRegistrarse.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />

        <section id="contenido">
            <ul>


                <li id="clientes">
                   
                    <br>
                    <form id="formulario"action="#" style="align-content: center">
                         <h2>Clientes</h2>
                            <br>
                         <p>Registrese para recibir información</p>
                            <br>
                        <label>Nombre</label><br>
                        <input type="text" name="text" placeholder="Nombre completo" size="40" style="height: 40px; font-size: 15px" /><br>
                        <label>Correo</label><br>
                        <input type="text" name="email" placeholder="Email" size="40" style="height: 40px;font-size: 15px" /><br>
                        <br>
                        <input id="boton" type="submit" value="Registrarse" style="display: inline; width: 100px; height: 40px; font-size: 18px"><br>
                    </form>
                </li>
                <br>
                <br>
                <li id="administradores">
                   
                    <br>
                    <form id="formulario" action="#" style="align-content: center">
                         <h2>Administrador</h2>
                            <br>
                               <br>
                                  <br>
                        <label>Usuario</label><br>
                        <input type="text" name="text" placeholder="Usuario" size="40" style="height: 40px; font-size: 15px" /><br>
                        <label>Contraseña</label><br>
                        <input type="password" name="password" placeholder="Contraseña" size="40" style="height: 40px;font-size: 15px" /><br>
                        <br>
                        <input id="boton"type="submit" value="Ingresar" style="display: inline; width: 100px; height: 40px; font-size: 18px;"><br>
                    </form>
                </li>
            </ul>
        </section>
    </body>
</html>
