<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosRegistrarse.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <header class="header">
            <a th:href="@{/}" class="logo nav-link" >Glamour</a>  

            <div id="logoFace" class="redesSociales"><img src="ImgIndex/facebook.png" alt=""/></div>
            <div id="logoInsta" class="redesSociales"><img src="ImgIndex/instagram.png" alt=""/></div>
            <div id="logoWhatsapp" class="redesSociales"><img src="ImgIndex/whatsapp(2)_1.png" alt=""/></div>

            <nav class="nav">
                <ul class="nav-menu">
                    <!-- comment  <a th:href="@{/modificarCliente/} + ${item.idCliente}">Modificar</a>-->
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Servicios}">SERVICIOS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Novedades}">NOVEDADES</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Promociones}">PROMOCIONES</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Galeria}">GALERÍA</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Nosotros}">NOSOTROS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Contacto}">CONTACTO</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Registrarse}">REGISTRARSE</a></li>
                </ul>
            </nav>
        </header>

        <section id="contenido">
            <ul>


                <li id="clientes">
                   
                    <br>
                    <form id="formulario"action="#" style="align-content: center">
                         <h2>Clientes</h2>
                            <br>
                         <p>Registrese para recibir información</p>
                            <br>
                        <label>Nombre</label><br>
                        <input type="text" name="text" placeholder="Nombre completo" size="40" style="height: 40px; font-size: 15px" /><br>
                        <label>Correo</label><br>
                        <input type="text" name="email" placeholder="Email" size="40" style="height: 40px;font-size: 15px" /><br>
                        <br>
                        <input id="boton" type="submit" value="Registrarse" style="display: inline; width: 100px; height: 40px; font-size: 18px"><br>
                    </form>
                </li>
                <br>
                <br>
                <li id="administradores">
                   
                    <br>
                    <form id="formulario" action="#" style="align-content: center">
                         <h2>Administrador</h2>
                            <br>
                               <br>
                                  <br>
                        <label>Usuario</label><br>
                        <input type="text" name="text" placeholder="Usuario" size="40" style="height: 40px; font-size: 15px" /><br>
                        <label>Contraseña</label><br>
                        <input type="password" name="password" placeholder="Contraseña" size="40" style="height: 40px;font-size: 15px" /><br>
                        <br>
                        <input id="boton"type="submit" value="Ingresar" style="display: inline; width: 100px; height: 40px; font-size: 18px;"><br>
                    </form>
                </li>
            </ul>
        </section>
    </body>
</html>
