<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilosIndex.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosServicios.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <a th:href="@{/}" class="logo nav-link" >Glamour</a>  

            <div id="logoFace" class="redesSociales"><img src="ImgIndex/facebook.png" alt=""/></div>
            <div id="logoInsta" class="redesSociales"><img src="ImgIndex/instagram.png" alt=""/></div>
            <div id="logoWhatsapp" class="redesSociales"><img src="ImgIndex/whatsapp(2)_1.png" alt=""/></div>

        </header>

        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Servicios}">SERVICIOS</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Novedades}">NOVEDADES</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Promociones}">PROMOCIONES</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Galeria}">GALERÍA</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Nosotros}">NOSOTROS</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Contacto}">CONTACTO</a></li>
                <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/Registrarse}">REGISTRARSE</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>        

        <div id="TituloCabello">
            <img src="ImgServicios/el-botox-capilar-un-tratamiento-natural-para-el-cuidado-del-cabello-amm-estilistas.jpg" width="1000" height="250" alt=""/>

            <h2> Cabello </h2>

        </div>

        <section class="tablasCabello">
            <ul id="tablaCabello">
                <li>Blower</li>
                <li>Corte</li>
                <li>Corte y Blower</li>
                <li>Corte de niña menos de 7 años</li>
                <li>Recogido</li>
                <li>Peinado elaborado</li>
                <li>Peinado de novia</li>
                <li>Peinado con ondulaciones o rizos</li>
            </ul>
            <ul class="tablaCabello2">
                <li>Extensiones de graduación</li>
                <li>Extensiones colores</li>
                <li>Mantenimiento de extensiones (pegar, cortar y blower)</li>
                <li>Remover extensiones</li>
                <li>Extensiones (pegar, cortar y blower)</li>
                <li>Peinado de niña</li>
                <li>Extensiones 100% cabello natural 14×16</li>
                <li>Extensiones 100% cabello natural 18×20</li>
            </ul>
        </section>



        <div id="TituloServColor">
            <img src="ImgServicios/cabecera-blog-.jpg" width="1000" height="250"  alt=""/>
            <h2> Servicios de color </h2>
        </div>

        <section class="tablasServColor">
            <ul class="tablaServColor">

                <li>Color completo
                <li>Color CHI</li>
                <li>Color semi-permanente</li>
                <li>Baño de color cabello</li>
                <li>Color de raíz</li>
                <li>High-lights</li>
                <li>Hight Lights 2 tonos (incluye blower)</li>
                <li>Californianos</li>
                <li>Tinte de cejas</li>
                <li>Tinte de pestañas</li>
                <li>Decoloración de brazos</li>
            </ul>
        </section>


        <div id="TituloAlisado">
            <img src="ImgServicios/48485184_l-e1570487816507-scaled.jpg" width="1000" height="250" alt=""/>
            <h2> Alisado de cabello </h2>
        </div>

        <section class="tablasAlisado">
            <ul class="tablaAlisado">
                <li>Alisado permanente Wellastrate</li>
                <li>Crema alisante que garantiza un alisado perfecto y sin daños, aportándole al cabello mayor elasticidad y brillo intenso.</li>
                <li> Keratina INOAR</li>
                <li>Se especializa en el cuidado del cabello para alisarlo sin maltratar o abusar de su textura natural.</li>

            </ul>

        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>
